<!-- FOOTER -->
<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-6">
          <div class="footer">
            <h1 class="footer-title">Visit Us</h1>
            <ul class="footer-links">
              <li>
                <a href="#">
                  <i class="fa fa-map-marker"></i>
                  432 South Ave
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-phone"></i>
                  +021-123-4567
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-envelope"></i>
                  potit@email.com
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-clock-o"></i>
                  12PM-7PM
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="footer">
            <h1 class="footer-title">Categories</h1>
            <ul class="footer-links">
              <li><a href="#">Potted Plants</a></li>
              <li><a href="#">Hydroponic Plants</a></li>
              <li><a href="#">Succulents</a></li>
              <li><a href="#">Cactuses</a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-6">
          <div class="footer">
            <h1 class="footer-title">Information</h1>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Orders and Returns</a></li>
              <li><a href="#">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="footer">
            <h1 class="footer-title">Service</h1>
            <ul class="footer-links">
              <li><a href="#">My Account</a></li>
              <li><a href="#">View Cart</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- COPYRIGHT -->
      <span class="copyright">
        Pot It &copy; {{ todayDate | customDate }} All rights reserved.
      </span>
      <!-- /COPYRIGHT -->
    </div>
  </div>
</footer>
<!-- /FOOTER -->
