<div class="container" id="thankyou">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center" style="padding: 50px">
        <h1 class="display-3">Thank You!</h1>
        <hr />
        <p class="lead" style="font-size: 18px">
          Your order has been placed. Please check your email for order
          confirmation.
        </p>
        <hr />
        <p></p>
        <p style="font-size: 18px">
          Order ID : <strong>{{ orderId }}</strong>
        </p>
        <hr />
        <p></p>
        <button routerLink="/" class="viewcart-btn btn-lg">
          Back to Homepage
        </button>
      </div>
    </div>
  </div>
</div>
